<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title> Show note</title>
    <thymeleaf th:include="headers::head"></thymeleaf>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="mb-3">
    <input type="hidden" class="form-control" id="id" value="{id}" th:field="*{id}">
</div>
<div><br> <br></div>
<div class="container">
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <h5 class="card-header" th:text="${note.name}"></h5>
        <div class="card-body">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <textarea class="form-control" id="text" readonly rows="8"
                              th:text="${note.text}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a class="btn btn-primary" type="button" th:href="'/note/edit_note/' + ${note.id}">Edit</a>
            <a class="btn btn-primary" type="button" href="/note/list">Back</a>
        </div>
    </div>
</div>
</body>
</html>