<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title> Show note</title>
    <thymeleaf th:include="headers::head"></thymeleaf>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="mb-3">
    <input type="hidden" class="form-control" id="id" value="{id}" th:field="*{id}">
</div>
<div><br></div>
<div class="container">
    <div class="card border-primary mb-3" style="max-width: 45%">
        <div class="card-header" th:text="${note.name}"> </div>
        <div class="card-body">
                <div th:utext="${htmlContent}"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a class="btn btn-primary" type="button" th:href="'/note/edit_note/' + ${note.id}">Edit</a>
            <a class="btn btn-primary" type="button" href="/note/list">Back</a>
        </div>
    </div>
</div>
</body>
</html>