<html xmlns:c="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
    <thymeleaf th:include="headers::head"/>
</head>
<body>
<ul th:include="navigation::nav"></ul>
<div class="container">
    <div class="row">
        <h2>Users</h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">roles</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <c:forEach var="user" items="${users}">
                <tr>
                    <td><c:out value = "${user.id}"/></td>
                    <td><c:out value = "${user.userName}"/></td>
                    <td><c:out value = "${user.roles}"/></td>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <a href="/user/<c:out value = '${user.id}'/>" type="button" class="btn btn-warning">📝</a>
                                <a href="/user/delete=<c:out value = '${user.id}'/>" type="button" class="btn btn-danger">🗑</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </c:forEach>
            </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="/users/user" type="button" class="btn btn-primary">+</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>