<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users page</title>
    <thymeleaf th:replace="headers :: head" />
</head>
<body>
<div th:include="navigation::nav"></div>
<div class="container">
    <div class="row">
        <h2>Users</h2>
    </div>
    <div class="alert alert-danger" th:if="${errorConstraint != null}">
        <p th:text="${errorConstraint}"></p>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">name</th>
                <th scope="col">roles</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each ="user,i : ${users}">
                    <td th:text = "${i.index + 1}"></td>
                    <td th:text = "${user.Name}"></td>
                    <td id="roles">
                        <ul th:each="role : ${user.roles}">
                            <li th:text="${role.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <a th:href="@{/users/{userId}(userId=${user.id})}" type="button"
                                   class="btn btn-warning" id="edit-tooltip">📝</a>
                                <a th:data-id="${user.id}" th:data-content="${user.name}" type="button"
                                   class="btn btn-danger remove_user" data-toggle="modal"
                                    data-target="#remove_modal" id="remove-tooltip" th:if="${user.name != 'admin'}">🗑</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a th:href="@{/users/add}" type="button" class="btn btn-primary">New</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Removing user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">No</a>
                <a type="button" id="remove" class="btn btn-danger ">Yes</a>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
    $(document).ready(function () {
        $(".remove_user").click(function () {
            const name_user = $(this).attr("data-content");
            const id_user = $(this).attr("data-id");
            const remove_href = '/users/remove_user/' + id_user;
            $("#remove_modal").show();
            $(".modal-body").text('Do you want to remove the user "' + name_user + '"?');
            $(".modal-footer #remove").attr('href', remove_href);
        });
        $(".copy-link").click(function () {
            const link = $(this).attr("data-link");
            let domain = document.domain;
            if (domain === "localhost")
                domain += ":9999";
            navigator.clipboard.writeText(domain + link);
            $("#success-link").show();
            setTimeout(function () {
                $("#success-link").hide();
            }, 2000);
        });

        tippy('[data-tippy-content]', {
            theme: 'blue',
            placement: 'bottom'
        });
        tippy('#edit-tooltip', {
            theme: 'blue',
            placement: 'top',
            content: 'Edit'
        });
        tippy('#remove-tooltip', {
            theme: 'blue',
            placement: 'top',
            content: 'Remove'
        });
        tippy('#copy-tooltip', {
            theme: 'blue',
            placement: 'top',
            content: 'Copy link'
        });
    });
</script>
</body>
</html>