<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users page</title>
    <thymeleaf th:replace="headers :: head" />
</head>
<body>
<ul th:include="navigation::nav"></ul>
<div class="container">
    <div class="row">
        <h2>Users</h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">User name</th>
                <th scope="col">roles</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each ="user,i : ${users}">
                    <td th:text = "${i.index + 1}"></td>
                    <td th:text = "${user.userName}"></td>
                    <td id="roles">
                        <ul th:each="role : ${user.roles}">
                            <li th:text="${role.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <a href="/user/<c:out value = '${user.id}'/>" type="button" class="btn btn-warning">📝</a>
                                <a href="/user/delete=<c:out value = '${user.id}'/>" type="button" class="btn btn-danger">🗑</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="/users/user" type="button" class="btn btn-primary">+</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>