<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create User' : 'Edit User'" />
    <thymeleaf th:replace="headers :: head" />
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="container">
    <br>
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a th:href="@{/users}" type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    Back to users</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 id="edit_page" th:text="${add} ? 'Create User:' : 'Edit User:'"></h2>
        <form th:action="${add} ? @{/users/add} : @{/users/{userId}(userId=${user.id})}"
              th:object="${user}" method="POST">
        <div class="row">
                <br/>
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input type="hidden" disabled class="form-control" id="id" th:utext="${user.id}">
            </div>
            <div class="mb-3">
                <label for="userName" class="form-label">User name</label>
                <input type="text" class="form-control" id="userName" th:field="*{userName}" placeholder="User name">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                <div class="alert alert-danger" th:if="${errorUniqueUserName}" th:utext="${errorUniqueUserName}"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            </div>
            <div class="mb-3">
                <label for="roles" class="form-label">role</label>
                <select class="form-select" multiple="multiple" id="roles" th:field="*{roles}">
                    <option th:each="role : ${allRoles}"
                            th:value="${{role.id}}"
                            th:utext="${role.name}"
                            th:selected="${roles == role.id}">
                </select>
                <div class="alert alert-danger" th:if="${errorRoles}" th:utext="${errorRoles}"/>
            </div>
            <div class="row">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <input type="submit" th:value="${add} ? 'Create' : 'Update'" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
            <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
        </div>
        </form>
    </div>
</div>
</body>
</html>