<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">~Notes Management System~</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/note/list">My notes</a>
                    </li>
                    <li sec:authorize="hasAuthority('admin')" class="nav-item">
                        <a class="nav-link" aria-current="page" href="/users">Users</a>
                    </li>
                    <li sec:authorize="hasAuthority('admin')" class="nav-item">
                        <a class="nav-link" aria-current="page" href="/roles">Roles</a>
                    </li>
                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true"
                       aria-expanded="false"> <i> Signed in as: </i>
                        <th:block sec:authentication="principal.username"></th:block></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <a class="dropdown-item" href="/users/removeLogout">Remove my profile</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>