<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Registration</title>
    <thymeleaf th:include="headers::head"/>
</head>
<body>
<div><br> <br> <br></div>
<div class="container">
    <div class="row">
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Registration</div>
        <div class="card-body">
            <h4>Create an account</h4>
            <form action="/registration" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">User name</label>
                    <input type="text" name="name" id="name" class="form-control form-control-lg" />
<!--                    <div th:if="${name}" th:utext="${name}" class="alert alert-danger">[error]</div>-->
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control form-control-lg" />
<!--                    <div th:if="${password}" th:utext="${password}" class="alert alert-danger">[error]</div>-->
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                </div>
<!--                <div class="mb-3">-->
<!--                    <label for="roles" class="form-label">Roles</label>-->
<!--                    <select class="form-select" multiple="multiple" id="roles" name="roles">-->
<!--                        <option th:each="role : ${getRoles}"-->
<!--                                th:value="${{role.id}}"-->
<!--                                th:utext="${role.name}">-->
<!--                    </select>-->
<!--                    <div th:if="${roles}" th:utext="${roles}" class="alert alert-danger">[error]</div>-->
<!--                    <div class="alert alert-danger" th:if="${errorRoles}" th:utext="${errorRoles}"/>-->
<!--                </div>-->

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" >Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">or
                    <a href="/login" class="fw-bold text-body"><u>Login here</u></a>
                </p>
                <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
                    <p th:errors="*{global}"></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
