<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create Role' : 'Edit Role'" />
    <thymeleaf th:replace="headers :: head" />
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="container">
    <br>
    <div class="row">
        <h2 id="edit_page" th:text="${add} ? 'Create Role:' : 'Edit Role:'"></h2>
        <form th:action="${add} ? @{/roles/add} : @{/roles/{id}(id=${role.id})}"
              th:object="${role}" method="POST">
            <div class="row">
                <br/>
                <div class="mb-3">
                    <input hidden type="text" class="form-control" th:field="*{id}">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Role name</label>
                    <input type="text" class="form-control" id="name" placeholder="Role name" th:field="*{name}">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </div>
                <div class="row">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <input type="submit" th:value="${add} ? 'Create' : 'Update'" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
                    <p th:errors="*{global}"></p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>